In [85]:

a=dict(name='Lucky',age=18,eat=['apple','banana'])
d=a.get('name')#讀取字典'name'
c=a.get('eat',)[0]#讀取字典'eat'裡的第一個字串
while True:          #無限循環的迴圈，在輸入的數值不是整數時，讓程式再運行一次，防止崩潰
  try:

    b=input('輸入年齡:')
    b=int(b)
    break
  except ValueError:
    print('再輸入一次')




if b<18:             #根據年齡，進行判斷
  print('Teenager',end=' ')
elif b<=100:
  print('Adult',end=' ')
else:
  print('Not a human',end=' ')


print(d,end=' ')
print(c)
print(type(a))

輸入年齡:7
Teenager Lucky apple
<class 'dict'>

In [68]:
for a in range(1,10):
  for b in range(1,10):
    if b!=9:
      print('\t',a**b,end='')#b不等於9時不換行
    else:
      print('\t',a**b)

	 1	 1	 1	 1	 1	 1	 1	 1	 1
	 2	 4	 8	 16	 32	 64	 128	 256	 512
	 3	 9	 27	 81	 243	 729	 2187	 6561	 19683
	 4	 16	 64	 256	 1024	 4096	 16384	 65536	 262144
	 5	 25	 125	 625	 3125	 15625	 78125	 390625	 1953125
	 6	 36	 216	 1296	 7776	 46656	 279936	 1679616	 10077696
	 7	 49	 343	 2401	 16807	 117649	 823543	 5764801	 40353607
	 8	 64	 512	 4096	 32768	 262144	 2097152	 16777216	 134217728
	 9	 81	 729	 6561	 59049	 531441	 4782969	 43046721	 387420489

In [ ]:
a=1
b=c=a
a=2
print('a=',a)
print(b)
print(c)

a= 2
1
1

In [28]:
a='''adsad
fdsfdsfdsfsad'''#處理長文
print(a)

adsad
fdsfdsfdsfsad

In [ ]:
 print('hello word')

hello word

In [39]:
a='012546adsw8'
print(a[10])
print(a[:])
print(a[:5])
print(a[:])
print(a[5:10])
print(a[4:-3])
print(a[:])
print(a[:])
print(a[:])
print(a[2:4:1])

8
012546adsw8
01254
012546adsw8
6adsw
46ad
012546adsw8
012546adsw8
012546adsw8
25

In [ ]:
a='hello world,i am hi,how are you?'
b=a.split(',')
c=a.split(' ')
print(c)
print(b)

['hello', 'world,i', 'am', 'hi,how', 'are', 'you?']
['hello world', 'i am hi', 'how are you?']

In [ ]:
a=['apple','banana','oramger']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','cat']]
d=list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'oramger']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [ ]:
t1=('a','b','c','d')
t2=('h','k')
t=t2+t1
print(t)

('h', 'k', 'a', 'b', 'c', 'd')

In [51]:
a=2
b=3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')

  elif a==3:
    print('a=3')
  elif b==3:
    print('b=3')
  elif a==2:
    print('a=2')
else:
  print('a=b')
print('ok')

a<b
b=3
ok

In [30]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(a)
    print(b)

x
1
x
2
x
3
y
1
y
2
y
3
z
1
z
2
z
3

In [ ]:
i=[]
for t in range(10):
  t-=1
  i.append(t)
print(i)

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:


try:
  a=input('輸入數字:')
  print(a+1)
except:
  print('error')

輸入數字:4
error

In [53]:
a = 2
b = 3
if a>b:
    print('a>b')    # 不會印出
elif a==b:
    print('a=b')    #
else:
    print('a不等於b')    # 印出
print('finish')

a不等於b
finish

In [52]:
a = {'name':'oxxo','age':18,'eat':['apple','banana']}
print(type(a))    # <class 'dict'>

<class 'dict'>