In [ ]:
def hello(x,y): #定義函數(參數可以靈活變化)

  z=x+y
  print(z)

hello(5,48)    #輸入整數參數
hello('Iu','blueming')#輸入字串參數

53
Iublueming

In [9]:
def a(x):
  result=0
  while result<10:
    result=result+x
    if result==5:
      return result
  return result
b=a(5)
c=a(2)
print(b,end=' ')
print(c)
# b將參數x=5進入while迴圈，經過if判斷是對的，因此直接輸出
# c將參數x=2進入while迴圈，一直在while迴圈循環，直到result>10，跳出迴圈

5 10

In [20]:
def tf(value):
  return 2*value-1 #需要使用return將計算值返回，否則函式回傳none


a=[4,5,6]
c=[tf(value) for value in a]#for迴圈配合函式
print(c)
with open('test.txt','w')as f1: #將計算結果寫入test.txt文件
  f1.write(','.join(map(str,(c))))#將數值轉成字串

[7, 9, 11]

In [21]:
import datetime as dd# 將 datetime 模組匯入並縮寫為 dd
print(dd.datetime.now())# 取得當前的日期和時間
print(dd.date.today()) # 取得當前的日期

2024-09-26 12:47:33.289103
2024-09-26

In [23]:
import numpy as np# 匯入 numpy 並縮寫為 np
import pandas as pd # 匯入 pandas 並縮寫為 pd
dates=pd.date_range('20220101',periods=6)# 使用 pandas 的 date_range 函數創建一個日期範圍
print(dates)# 輸出從 2022 年 1 月 1 日開始的 6 天日期範圍

df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))# 創建一個 DataFrame，包含 6 行 4 列的隨機數據，索引為上述日期範圍，列名為 'A', 'B', 'C', 'D'
df2=df.copy()#建立副本
print(df.head())# 輸出 DataFrame 的前 5 行
print(df.tail(3))# 輸出 DataFrame 的最後 3 行
print(df.index)# 輸出 DataFrame 的索引（日期範圍）
print(df.columns)# 輸出 DataFrame 的列名

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2022-01-01 -1.941541  1.229726 -1.738298  2.043936
2022-01-02 -1.858838  0.620041  0.340819  1.046915
2022-01-03 -1.193208  0.181345  0.642225  0.434327
2022-01-04 -0.686446 -0.717905  1.996957 -1.356083
2022-01-05  1.084405 -0.232279 -0.733845 -0.151884
                   A         B         C         D
2022-01-04 -0.686446 -0.717905  1.996957 -1.356083
2022-01-05  1.084405 -0.232279 -0.733845 -0.151884
2022-01-06 -1.074463 -0.944919 -2.286020 -0.761396
DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df.describe()# 使用 describe() 方法生成數據統計摘要
a=df.describe()
df2=df.copy()
print(a)
df_transposed=df.T# 轉置 DataFrame
print(df_transposed)
print(df.sort_index(axis=1,ascending=True))# 按列索引進行排序，升序排列
print(df["A"][0:5])# 打印 A 列的前 5 行
print(df.loc[dates[0]])# 根據日期獲取第一行數據
print(df.loc[:,['A','B']])# 獲取 A 列和 B 列的所有行
print(df.loc['20220102':'20220104',['A','B']])# 根據日期範圍獲取 A 列和 B 列的數據
print(df.loc[dates[0],'A'])# 獲取 2022 年 1 月 1 日的 A 列數據
print(df[0:3])# 獲取前 3 行數據
print(df[df>0])# 獲取所有大於 0 的值，其他位置會顯示 NaN
print(df[df['A']>0])# 獲取 A 列大於 0 的行

df2['E']=['one','one','two','three','four','three']#列 'E'，其值為 'one', 'one', 'two', 'three', 'four', 'three'
print(df2[df2['E'].isin(['two','four'])])# 根據 E 列篩選值為 'two' 或 'four' 的行

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.433030 -0.246091 -0.137755  0.387439
std    0.491348  0.673794  0.976033  0.688747
min   -1.063590 -1.085540 -1.429942 -0.863739
25%   -0.791760 -0.659620 -0.481145  0.349853
50%   -0.405165 -0.357956 -0.260408  0.495058
75%   -0.095016  0.163169  0.036428  0.627488
max    0.187998  0.748206  1.543576  1.225174
   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
A   -0.144230   -1.063590    0.187998   -0.666099   -0.833647   -0.078611
B   -0.724947   -0.252273   -1.085540   -0.463640    0.748206    0.301650
C    0.125199   -0.290931    1.543576   -0.544550   -1.429942   -0.229885
D    0.447523    0.655786   -0.863739    0.542593    1.225174    0.317297
                   A         B         C         D
2022-01-01 -0.144230 -0.724947  0.125199  0.447523
2022-01-02 -1.063590 -0.252273 -0.290931  0.655786
2022-01-03  0.187998 -1.085540  1.543576 -0.863739
2022-01-04 -0.666099 -0.463640 -0.544550  0.542593
2022-01-05 -0.833647  0.748206 -1.429942  1.225174
2022-01-06 -0.078611  0.301650 -0.229885  0.317297
2022-01-01   -0.144230
2022-01-02   -1.063590
2022-01-03    0.187998
2022-01-04   -0.666099
2022-01-05   -0.833647
Freq: D, Name: A, dtype: float64
A   -0.144230
B   -0.724947
C    0.125199
D    0.447523
Name: 2022-01-01 00:00:00, dtype: float64
                   A         B
2022-01-01 -0.144230 -0.724947
2022-01-02 -1.063590 -0.252273
2022-01-03  0.187998 -1.085540
2022-01-04 -0.666099 -0.463640
2022-01-05 -0.833647  0.748206
2022-01-06 -0.078611  0.301650
                   A         B
2022-01-02 -1.063590 -0.252273
2022-01-03  0.187998 -1.085540
2022-01-04 -0.666099 -0.463640
-0.14423037694795088
                   A         B         C         D
2022-01-01 -0.144230 -0.724947  0.125199  0.447523
2022-01-02 -1.063590 -0.252273 -0.290931  0.655786
2022-01-03  0.187998 -1.085540  1.543576 -0.863739
                   A         B         C         D
2022-01-01       NaN       NaN  0.125199  0.447523
2022-01-02       NaN       NaN       NaN  0.655786
2022-01-03  0.187998       NaN  1.543576       NaN
2022-01-04       NaN       NaN       NaN  0.542593
2022-01-05       NaN  0.748206       NaN  1.225174
2022-01-06       NaN  0.301650       NaN  0.317297
                   A        B         C         D
2022-01-03  0.187998 -1.08554  1.543576 -0.863739
                   A         B         C         D     E
2022-01-03  0.187998 -1.085540  1.543576 -0.863739   two
2022-01-05 -0.833647  0.748206 -1.429942  1.225174  four